.hero-slide-1 {
  background-image: url("../../assets/slider_image/img-1.jpg");
}
.hero-slide-2 {
  background-image: url("../../assets/slider_image/img-2.jpg");
}
.hero-slide-3 {
  background-image: url("../../assets/slider_image/img-3.jpg");
}
.hero-slide-4 {
  background-image: url("../../assets/slider_image/img-4.jpg");
}
.hero-slide-5 {
  background-image: url("../../assets/slider_image/img-5.jpg");
}
.hero-slide-6 {
  background-image: url("../../assets/slider_image/img-6.jpg");
}
